snippet size "--size var w/ height & width"
--size: ${1:N}rem;

height: var(--size);
width: var(--size);
endsnippet

snippet topc "Vertically center `top`"
top: calc(50% - var(--size) / 2);
endsnippet

snippet dt "DevTools placeholder"
/* Just here so the path shows up in DevTools */
endsnippet
