# Snippets to convert from px to rem assuming root font size is 16px

snippet 1p "1px to 0.625rem"
0.0625rem
endsnippet

snippet 2p "2px to 0.125rem"
0.125rem
endsnippet

snippet 3p "3px to 0.1875rem"
0.1875rem
endsnippet

snippet 4p "4px to 0.25rem"
0.25rem
endsnippet

snippet 5p "5px to 0.3125rem"
0.3125rem
endsnippet

snippet 6p "6px to 0.375rem"
0.375rem
endsnippet

snippet 7p "7px to 0.4375rem"
0.4375rem
endsnippet

snippet 8p "8px to 0.5rem"
0.5rem
endsnippet

snippet 9p "9px to 0.5625rem"
0.5625rem
endsnippet

snippet 10p "10px to 0.625rem"
0.625rem
endsnippet

snippet 11p "11px to 0.6875rem"
0.6875rem
endsnippet

snippet 12p "12px to 0.75rem"
0.75rem
endsnippet

snippet 13p "13px to 0.8125rem"
0.8125rem
endsnippet

snippet 14p "14px to 0.875rem"
0.875rem
endsnippet

snippet 15p "15px to 0.9375rem"
0.9375rem
endsnippet

snippet 16p "16px to 1rem"
1rem
endsnippet

snippet 18p "18px to 1.125rem"
1.125rem
endsnippet

snippet 20p "20px to 1.25rem"
1.25rem
endsnippet

snippet 22p "22px to 1.375rem"
1.375rem
endsnippet

snippet 24p "24px to 1.5rem"
1.5rem
endsnippet

snippet 26p "26px to 1.625rem"
1.625rem
endsnippet

snippet 28p "28px to 1.75rem"
1.75rem
endsnippet

snippet 30p "30px to 1.875rem"
1.875rem
endsnippet

snippet 32p "32px to 2rem"
2rem
endsnippet

snippet 34p "34px to 2.125rem"
2.125rem
endsnippet

snippet 36p "36px to 2.25rem"
2.25rem
endsnippet

snippet 38p "38px to 2.375rem"
2.375rem
endsnippet

snippet 40p "40px to 2.5rem"
2.5rem
endsnippet

snippet 42p "42px to 2.625rem"
2.625rem
endsnippet

snippet 48p "48px to 3rem"
3rem
endsnippet

snippet 56p "56px to 3.5rem"
3.5rem
endsnippet

snippet 64p "64px to 4rem"
4rem
endsnippet

snippet 72p "72px to 4.5rem"
4.5rem
endsnippet

snippet 96p "96px to 6rem"
6rem
endsnippet

snippet 128p "128px to 8rem"
8rem
endsnippet

snippet 160p "160px to 10rem"
10rem
endsnippet

snippet 320p "320px to 20rem"
20rem
endsnippet
